@import url("https://fonts.googleapis.com/css2?family=Open Sans:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

:global(#app) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.demoTable {
  --grid-col-size-index: 70px;
  --grid-col-size-restarts: minmax(100px, 1fr);

  border: 1px solid currentColor;
  border-radius: 3px;
}

.checkbox {
  padding: 0;

  label {
    padding: var(--grid-spacing);
  }
}

.indexColumn {
  text-align: center;
}

.restartsColumn {
}

.row {
  cursor: pointer;

  &.selectedRow {
    color: var(--grid-row-selected-color);
    background-color: var(--grid-row-selected-bgc) !important;
  }
}

.column {
  transition: all 250ms ease;

  &:hover {
    color: white;
  }
}

body {
  margin: 0;
  padding: 16px;
  color: #909ba6;
  background: rgba(30 33 37);
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 16px;
  height: 15px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: currentColor;
  background-clip: padding-box;
  border: 4px solid transparent;
  border-right-width: 5px;
  border-radius: 16px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}


header {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

main {
  > * {
    display: none;
  }

  > :target {
    display: block;
  }
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted;
}

h1 {
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  margin-block-start: 0;
}

h2 {
  color: white;
  font-size: 1rem;
  font-weight: 100;
  margin: 0;
}

input {
  font-size: inherit;
}

.hiddenColumns {
  display: flex;
  border-radius: 5px;
  gap: 1em;
  padding: 20px 0;
  align-items: center;
}

.selectedRows {
  display: flex;
  flex-direction: column;
  gap: .5em;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30%;
  max-height: 50%;
  background: rgba(0, 0, 0, .85);
  padding: 20px;
  z-index: 10;
  overflow: auto;

  h2 {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

.selectedItem {
  position: relative;
  display: inline-block;

  .unselectItem {
    position: absolute;
    right: 0;
    top: 0;
    margin: -10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    transition: all 200ms ease;

    &:hover {
      color: black;
      background: white;
    }

    &:after {
      content: "✖";
    }
  }
}

.unselectAll {
  padding: .5em;
  font-size: 100%;
}

.searchText {
  padding: .35em;
  margin: 0 10%;
}